.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  height: 104px;
  width: 104px;
  border-radius: 50%;
  margin-top: 1.1em;
}

.text {
  font-family: var(--font-family-semibold);
  font-size: var(--font-size-h4);
  margin-top: var(--base-page-vertical-padding);
}

.socialLink {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: transform 0.2s ease-in-out;
  background-color: var(--black);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  margin: 0 0.25em;
}

.socialContainer {
  display: flex;
  flex-direction: row;
  margin-top: 1.3em;
}

.contentContainer {
  width: 100%;
  height: 100%;
  margin-top: 1.3em;
}
