.container {
  position: relative;
  height: 292px;
  width: 100%;
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .container {
    height: 160px;
  }
}

.image {
  border-radius: var(--link-border-radius);
  box-shadow: 0 1rem 3rem hsla(190, 4%, 74%, 0.18);
}

.video {
  border-radius: var(--link-border-radius);
  box-shadow: 0 1rem 3rem hsla(190, 4%, 74%, 0.18);
  width: 100%;
  border: none;
}

.imageContainer {
  cursor: pointer;
}

.imageTitle {
  color: var(--white);
  font-family: var(--font-family-bold);
  font-size: 1rem;
  line-height: 1.375rem;
  margin: 0;
  max-width: 80%;
  overflow-wrap: break-word;
  position: absolute;
  bottom: 1.5em;
  left: 1.5em;
  font-weight: 800;
}

.imageLogoContainer {
  bottom: 1.5em;
  right: 1.5em;
  height: 24px;
  width: 24px;
  position: absolute;
}

.imageFooter {
  background: var(--linkcard-overlay-gradient);
  width: 100%;
  height: 64px;
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: var(--link-border-radius);
  border-bottom-right-radius: var(--link-border-radius);
}
